<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <logger>logger</logger>
                <thread>[ignore]</thread>
                <levelValue>[ignore]</levelValue>
                <level>severity</level>
            </fieldNames>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="json"/>
    </root>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="kafka" level="WARN"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
</configuration>
